<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Challenge Code</title>
  
  <link rel="stylesheet" href="/public/css/skeleton.css">
  <link rel="stylesheet" href="/public/css/normalize.css">
  <style>
    .header {
      margin-top: 5rem;
    }
    .center {
      text-align: center;
    }
  </style>
</head>
<body>
  
  <div class="container">
    <section class="header">
      <h2 class="center">challenge code</h2>
      <p style="margin-bottom: 10px;">SORT</p>
      <div class="row">
        <div class="three columns center">
          <a class="button" href="/bubblesort">Bubble Sort</a>
        </div>
        <div class="three columns center">
          <a class="button" href="/ins-sort">Insertion Sort</a>
        </div>
        <div class="three columns center">
          <a class="button" href="/slc-sort">Selection Sort</a>
        </div>
        <div class="three columns center">
          <a class="button" href="/shellsort">Shell Sort</a>
        </div>
      </div>
      <div class="row">
        <div class="three columns center">
          <a class="button" href="/mergesort">Merge Sort</a>
        </div>
        <div class="three columns center">
          <a class="button" href="/quicksort">Quick Sort</a>
        </div>
        <div class="three columns center">
          <a class="button" href="/heapsort">Heap Sort</a>
        </div>
        <div class="three columns center"> </div>
      </div>
      
      <br>
      <p style="margin-bottom: 10px;">RUN LENGTH</p>
      <div class="row">
        <div class="three columns center">
          <a class="button" href="/runlen-encode">Encode</a>
        </div>
        <div class="three columns center">
          <a class="button" href="/runlen-decode">Decode</a>
        </div>
      </div>
      
      <br>
      <p style="margin-bottom: 10px;">KASUS</p>
      <div class="row">
        <div class="three columns center">
          <a class="button" href="/eventproblem">Event</a>
        </div>
        <div class="three columns center">
          <a class="button" href="/smallestnumber">Smallest Number</a>
        </div>
        <div class="three columns center">
          <a class="button" href="/binary-gap">Binary Gap</a>
        </div>
        <div class="three columns center">
          <a class="button" href="/str-split">Str Split</a>
        </div>
      </div>
      <div class="row">
        <div class="three columns center">
          <a class="button" href="/bioskop-case">Bioskop</a>
        </div>
        <div class="three columns center">
          <a class="button" href="/polusi-case">Polusi</a>
        </div>
        <div class="three columns center">
          <a class="button" href="/sum-in-array">Sum in array</a>
        </div>
      </div>
      
      
      
    </section>
  </div>
  
  
</body>
</html>
