<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SPLIT STRING</title>
  <%- include('../partials/css'); -%>
</head>
<body>
  <div class="container">
    <div class="header">
      <a class="button" href="/"> < Back to Home</a>
      <br>
      <pre class="code-example">
        ada 2 buah input yaitu input kalimat dan input N yang merupakan total dari string.
        tujuannya adalah memisahkan kalimat sebanyak N input dan tidak boleh putus dari per "kata" nya.
        contoh: 
        input kalimat: "hallo gaes wawan disini"
        input N = 13
        - "hallo gaes wa" (salah, karena tidak ada kata "wa" ditiap-tiap kata)
        - "hallo gaes " (salah, karena mengandung spasi di akhir kalimat )
        output yang benar adalah "hallo gaes"

        input kalimat: "hallo gaes wawan disini"
        input N = 100
        output yang benar adalah "hallo gaes wawan disini"
      </pre>
      <br>
      <%- include('../flashmessage'); -%>
      <form action="" method="post">
        <input type="text" name="str" placeholder="input kalimat" value="hallo gaes wawan disini">
        <input type="number" name="angka" placeholder="input N" value="13">
        <button class="button-primary" type="submit">Apply</button>
      </form>
      
      <% if (result) { %>
        <pre>
          Hasil adalah : <%= result %>
        </pre>
      <% } %>
    </div>
  </div>
</body>
</html>
