<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Run Length ENCODE</title>
</head>
<body>
  <div>
    <p>
      contoh input: <b>a2b2c1d1</b>
      <br>
      contoh output: <b>aabbcd</b>
    </p>
    <p>
      contoh input: <b>w3b3f2</b>
      <br>
      contoh output: <b>wwwbbbff</b>
    </p>
    
    <%- include('../flashmessage'); -%>
    
    <form action="" method="post">
      <input type="text" name="str" placeholder="masukkan input">
      <button type="submit">Apply</button>
    </form>
    
    <br>
    <br>
    <br>
    <% if (result.length) { %>
      <p>Hasil : <%= result %></p>
    <% } %>
      
    
  </div>
</body>
</html>