<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SORT</title>
</head>
<body>
  <div>
    <p>Sorting array integer metode <b>"Merge Sort"</b></p>
    <img src="/public/images/Merge-sort.gif" alt="">
    <br>
    <br>
    
    <%- include('../flashmessage'); -%>
    <br>
    
    <form action="" method="post">
      <input type="text" name="str" placeholder="input array" value="[6,4,2,1,3,5]">
      <button type="submit">Apply</button>
    </form>
    
    <br>
    <br>
    <% if (result.length) { %>
      <p>Hasil : <%= result %></p>
    <% } %>
      
    
  </div>
</body>
</html>